<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from demos.codeniner.com/edura/shop-catalog-sidebar-left.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Jul 2017 15:11:18 GMT -->
<head>
    <!-- METAS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- TITLE -->
    <title>Elif Ticaret</title>

    <!-- FAVICON -->
    <link rel="shortcut icon" href="images/favicon.png" />

    <!-- LOAD MAIN CSS -->


    <link href="~/css/bundle.css" rel="stylesheet" />

</head>

<body>

    <!-- WRAPPER START -->
    <div id="wrapper">
        <!-- HEADER START -->
        <section id="header">
            <!-- Fixed navbar -->
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <img src="/images/logo.png" alt="Edura - Multipurpose Website Template">
                        </a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">

                            <li class="dropdown">
                                <a asp-controller="Home" asp-action="Home" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
                                <ul class="dropdown-menu">
                                    <li><a asp-controller="Home" asp-action="Home">Home</a></li>
                                </ul>
                            </li>



                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ürünler</a>
                                <ul class="dropdown-menu">
                                    <li><a asp-controller="Home" asp-action="Index">Ürünler</a></li>
                                </ul>
                            </li>



                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                                <ul class="dropdown-menu">
                                    <li><a href="blog-single.html">Single Article</a></li>

                                </ul>
                            </li>


                            <li class="dropdown">
                                <a asp-controller="Home" asp-action="Contact" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact Us</a>
                                <ul class="dropdown-menu">
                                    <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                                </ul>
                            </li>

             

                            @if (User.Identity.IsAuthenticated)
                            {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.Name</a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Admin" asp-action="CatalogList">Admin</a></li>
                                <li><a href="/Account/Logout">Logout</a></li>
                            </ul>
                        </li>
 }
                    else
                    {
                        <li><a href="/Account/Login"><i class="fa fa-user-o"></i> Login</a></li>
}





                        </ul>



                    </div><!--/.nav-collapse -->
                </div>
            </nav>
        </section>
        <!-- HEADER END -->
        <!-- PAGE TITLE START -->
        <section id="title" class="container-fluid wow fadeInDown">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <h1>Ürün <small>Tanıtım</small></h1>
                    </div>
                    <div class="col-xs-6 text-right breadcrumbs">
                        <ul class="list-inline list-unstyled">
                            <li><a asp-controller="Home" asp-action="Home">Home</a></li>
                            <li>/</li>
                            <li><a asp-controller="Home" asp-action="Index">Ürünler</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- PAGE TITLE END -->
        <!-- CONTENT START -->
        @RenderBody()
        <!-- CONTENT END -->
        <!-- FOOTER START -->
        <section id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <img src="/images/logo.png" alt="ElifTic">
                        <p>Şirket Hakkında Bilgi <b>Şirket Hakkında Bilgi</b>.</p>
                        <br>
                        <ul class="list-unstyled list-inline social-icons">
                            <li><a href="#" class="facebook"><i class="fa fa-facebook facebook"></i></a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter twitter"></i></a></li>
                            <li><a href="#" class="googleplus"><i class="fa fa-google-plus googleplus"></i></a></li>
                            <li><a href="#" class="youtube"><i class="fa fa-youtube youtube"></i></a></li>
                            <li><a href="#" class="linkedin"><i class="fa fa-linkedin linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4>PAGES</h4>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <a asp-controller="Home" asp-action="Home">HOME</a></li>
                            <li><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <a asp-controller="Home" asp-action="Index">URUNLER</a></li>
                            <li><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <a href="#">HAKKIMIZ</a></li>
                            <li><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <a asp-controller="Home" asp-action="Contact">CONTACT</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <h4>CONTACT US</h4>
                        <p><i class="fa fa-map-pin fa-fw"></i> Sakarya, Kıbrıs Şehitleri Cd. 51/A, 16220 Osmangazi/Bursa</p>
                        <p><i class="fa fa-phone fa-fw"></i> +(90) 0536 876 53 63</p>
                       
                       
                    </div>

                    
                </div>

                <div class="row">
                    <hr>
                    <div class="col-md-12 text-center bottom">
                        <p>Copyright &copy; 2022 Codeniner. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- FOOTER END -->


    </div>
    <!-- WRAPPER END -->
    <!-- back to top button -->
   

    <script src="~/js/bundle.js"></script>



    <script>
    (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-81122143-3', 'auto');
        ga('send', 'pageview');</script>

    <!-- STYLE SWITCHER -->
    <script src="demo/demo.js"></script>
    

</body>

<!-- Mirrored from demos.codeniner.com/edura/shop-catalog-sidebar-left.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Jul 2017 15:11:18 GMT -->
</html>
