@model ProductListModel
@{
    ViewData["Title"] = "Index";
}


<section id="content">

    <section id="shop" class="container">

        <div class="row">

            <!-- sidebar start -->
            <div id="sidebar" class="col-md-3">

                <div class="widget">
                    <form class="form-inline">
                        <div class="input-group">
                            <input type="text" class="form-control input-lg" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-lg" type="submit"><i class="fa fa-search"></i></button>
                            </span>
                        </div>

                    </form>
                </div>

                @await Component.InvokeAsync("CategoryMenu")

                @await Component.InvokeAsync("FeaturedProducts")





            </div>
            <!-- sidebar end -->
            <!-- right column start -->
            <div class="col-md-9">

                <div class="row">

                    <div class="col-md-12 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        <div class="row product-results">
                            <div class="product-results">
                                <div class="col-xs-8">
                                    <p class="woocommerce-result-count">Burada @Model.PagingInfo.TotalItems ürün var </p>
                                </div>

                                <div class="col-xs-4 text-right">
                                    <form method="get" class="woocommerce-ordering">
                                        <select class="form-control" name="orderby">
                                            <option selected="selected" value="menu_order">Default sorting</option>
                                            <option value="popularity">Sort by popularity</option>
                                            <option value="rating">Sort by rating</option>
                                            <option value="date">Newest on top</option>
                                            <option value="price">Price: low to high</option>
                                            <option value="price-desc">Price: high to low</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    @foreach (var product in Model.Products)
                    {
                        @Html.Partial("_ProductItem", product)

                    }


                </div>
                <div page-model ="@Model.PagingInfo " page-action="List"></div>
            </div>
            <!-- right column end -->

        </div>



    </section>



</section>